* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url('https://images.unsplash.com/photo-1602632003094-0494b73b7c4a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
  background-size: cover;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
  font-family: sans-serif;
  width: 100%;
}
div.board {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
div.board-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

button.reset {
  padding: 0.5rem;
  margin: 1rem;
  background-color: #434343;
  border-radius: 0.5rem;
  box-shadow: 2px 5px 5px #111;
}
div.status {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  color: #dadada;
  padding-bottom: 2rem;
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
}
.winner {
  padding-bottom: 2rem;
  font-weight: bold;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.5);
  animation-name: anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

h1 {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
  color: #dadada;
  width: 100%;
  border-bottom: #dadada 3px solid;
  padding: 2rem;
  text-align: center;
  margin-bottom: 5rem;
  font-size: 50px;
}

.square {
  box-shadow: 8px 8px 5px #fff;
  width: 10rem;
  height: 10rem;
  min-width: 5rem;
  min-height: 5rem;
  font-size: 5rem;
  background-color: gray;
  border: 3px solid rgb(248, 245, 245);
  float: left;
  font-weight: bold;
  text-align: center;
}

@keyframes anim {
  0% {
    color: #ff0;
  } /*Amarillo*/
  25% {
    color: #f80;
  } /*Naranja*/
  50% {
    color: #fff;
  } /*Negro*/
  75% {
    color: #f80;
  } /*Otra vez naranja*/
  100% {
    color: #ff0;
  } /*Otra vez amarillo*/
}
